body {
	background: #222 url(http://cssdeck.com/uploads/media/items/9/9mLae5p.png) repeat top left;
	padding: 1px;
	color: #ededed;
}

#login {
	width: 440px;
	position: relative;
	margin: 50px auto;
}

h1 {
	color: #ededed;
	font: 78px "Segoe UI";
	position: relative;
	text-align: center;
	margin: 0px;

}

h2 {
	color: #ededed;
	font: 28px "Segoe UI";
	position: relative;
	text-align: center;

}
h3 {
	color: #ededed;
	font: 18px "Segoe UI";
	position: relative;
	text-align: center;
}


label {
	float: left;
	font: 14px/18px Arial, sans-serif;
	color: #333;
	padding: 16px 0 0 0;
}

#microtext{
	position: relative;
	font : 10px;
	padding-top: -50px;
}

.galleria{
	background-color: #ffffff;
	width:100%;
	overflow-x: hidden;
	margin-top:20px;
}
.galleria{
	-webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.5);
}
.mainScreen{
	color:#050505;
	padding: 15px;
	border: 5px solid #ccc;
	margin-top: 20px;
	overflow-x: hidden;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	
	-webkit-border-radius: px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #d3efff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d3efff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3efff',GradientType=0 );
	background: linear-gradient(to bottom,  #ffffff 0%,#d3efff 100%);
}

.contextmenu{
		
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	
	-webkit-border-radius: px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #d3efff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d3efff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3efff',GradientType=0 );
	background: linear-gradient(to bottom,  #ffffff 0%,#d3efff 100%);
	
}


td{
	padding-bottom: 30px;
	color:#050505;
	text-align: center;
}

.thumbImage{
	width: 250px;
}
.thumbImage:hover{
	opacity: .5;
	
}
#status{
	width: 100px;
	height: 100px;
	color: #000000;
}

.thumbMenu{
	width: 100px;
	height: 60px;
	outline-offset: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 16%, #207cca 61%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(16%,#2989d8), color-stop(61%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 16%,#207cca 61%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 16%,#207cca 61%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 16%,#207cca 61%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 16%,#207cca 61%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.imageScreen{
	
	color:#050505;
	padding: 15px;
	border: 5px solid #ccc;
	margin-top: 20px;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	
	-webkit-border-radius: px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #d3efff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d3efff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3efff',GradientType=0 );
	background: linear-gradient(to bottom,  #ffffff 0%,#d3efff 100%);
	
}


#topMenu{
	position:absolute;
	top:170px;
	left:100px;
	margin-top: 3px;
	font-weight: 600;
	color: #050505;
}

#topMenu a{
	color:#050505;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	
	-webkit-border-radius: px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #d3efff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d3efff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#d3efff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3efff',GradientType=0 );
	background: linear-gradient(to bottom,  #ffffff 0%,#d3efff 100%);
	

}

#topMenu a:hover{
	color:#050505;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 0px 1px white;
	
	-webkit-border-radius: px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #fafafa;
	background: -moz-linear-gradient(top,  #fafafa 0%, #d3e2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#d3e2f2));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#d3e2f2 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#d3e2f2 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#d3e2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d3e2f2',GradientType=0 );
	background: linear-gradient(to bottom,  #fafafa 0%,#d3e2f2 100%);
	

}



.thumbCover{
	
}






#tempmenu {
list-style: none;
width: auto;
padding: 12px;
color: #FFFFFF;

outline-offset: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
position: absolute;
  display: block;
  clear:both;
  height:auto;

background: #72a0c2; /* Old browsers */
background: -moz-linear-gradient(top, #72a0c2 0%, #2989d8 50%, #72a0c2 89%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72a0c2), color-stop(50%,#2989d8), color-stop(89%,#72a0c2), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #72a0c2 0%,#2989d8 50%,#72a0c2 89%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #72a0c2 0%,#2989d8 50%,#72a0c2 89%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #72a0c2 0%,#2989d8 50%,#72a0c2 89%,#207cca 100%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #72a0c2 0%,#2989d8 50%,#72a0c2 89%,#207cca 100%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a0c2', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
#tempmenu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#tempmenu a:link{
font-family: Trebuchet MS;
font-size: 14px;
height: 23px;
display:block;
text-decoration: none;
padding: 8px 0 0 0px;
font-weight: bold;
text-align: center;
color: #FFFFFF;
font-weight:normal;
}

#tempmenu a:hover{
color: #111111;
}
